In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.plotly as py
from scipy.fftpack import fft
from scipy import signal
import scipy
from sys import getsizeof
# import torch

%matplotlib inline

In [18]:
meta_test = pd.read_csv('./VSB_unpacked/metadata_test.csv')
meta_train = pd.read_csv('./VSB_unpacked/metadata_train.csv')
df_train = pd.read_parquet('VSB_unpacked/train.parquet')

In [19]:
meta_train.head()

   signal_id  id_measurement  phase  target
0          0               0      0       0
1          1               0      1       0
2          2               0      2       0
3          3               1      0       1
4          4               1      1       1

In [20]:
meta_fail = meta_train[meta_train['target'] == 1]

In [30]:
meta_rand = meta_train[meta_train['target'] == 0].sample(n = 525, random_state = 510, replace = False)
meta_rand.head()

      signal_id  id_measurement  phase  target
5951       5951            1983      2       0
6623       6623            2207      2       0
3495       3495            1165      0       0
6563       6563            2187      2       0
147         147              49      0       0

In [32]:
meta_fail.tail()

      signal_id  id_measurement  phase  target
8483       8483            2827      2       1
8568       8568            2856      0       1
8569       8569            2856      1       1
8570       8570            2856      2       1
8630       8630            2876      2       1

In [35]:
meta_fail.shape

(525, 4)

In [49]:
fail525 = df_train.iloc[:,meta_fail.index].T

In [50]:
fail525.head()

,0,1,2,3,4,5,6,7,8,9,...,799990,799991,799992,799993,799994,799995,799996,799997,799998,799999
3,-16,-17,-17,-16,-16,-15,-16,-17,-18,-17,...,-15,-15,-15,-15,-15,-15,-15,-15,-14,-14
4,-5,-6,-6,-5,-5,-4,-5,-7,-7,-7,...,-4,-4,-4,-5,-4,-4,-4,-4,-3,-4
5,19,19,19,20,20,20,20,18,18,18,...,21,20,21,21,20,21,20,21,22,21
201,-22,-23,-24,-21,-25,-21,-22,-22,-20,-23,...,-20,-25,-20,-22,-22,-21,-23,-21,-23,-22
202,14,13,11,15,11,15,13,13,15,11,...,15,11,15,13,13,15,12,15,13,14

In [53]:
fail525.shape

(525, 800000)

In [56]:
type(fail525)

pandas.core.frame.DataFrame

In [57]:
Zxx_fail525 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), np.asarray(fail525))])

In [58]:
Zxx_fail525.shape

(525, 513, 1564)

In [59]:
type(Zxx_fail525)

numpy.ndarray

In [29]:
scipy.__version__

'1.1.0'

In [4]:
meta_train['target'].sum()

525

In [6]:
meta_train.tail()

      signal_id  id_measurement  phase  target
8707       8707            2902      1       0
8708       8708            2902      2       0
8709       8709            2903      0       0
8710       8710            2903      1       0
8711       8711            2903      2       0

In [5]:
meta_test.head()

   signal_id  id_measurement  phase
0       8712            2904      0
1       8713            2904      1
2       8714            2904      2
3       8715            2905      0
4       8716            2905      1

In [23]:
df_recast = df_train.T.values

In [24]:
df_recast.shape

(8712, 800000)

In [37]:
df_recast

array([[ 18,  18,  17, ...,  17,  19,  17],
       [  1,   0,  -1, ...,   0,   1,   0],
       [-19, -19, -20, ..., -19, -18, -19],
       ...,
       [-15, -15, -14, ..., -14, -14, -15],
       [ -9,  -8,  -8, ...,  -7,  -8,  -8],
       [ 20,  21,  22, ...,  23,  22,  21]], dtype=int8)

In [52]:
df_small_0.shape

(1000, 800000)

In [25]:
df_small_0 = df_recast[:1000,:]
df_small_1 = df_recast[1000:2000,:]
df_small_2 = df_recast[2000:3000,:]
df_small_3 = df_recast[3000:4000,:]
df_small_4 = df_recast[4000:5000,:]
df_small_5 = df_recast[5000:6000,:]
df_small_6 = df_recast[6000:7000,:]
df_small_7 = df_recast[7000:8000,:]
df_small_8 = df_recast[8000:,:]

In [54]:
Zxx_0 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_0)])

In [29]:
Zxx_0.shape

(1000, 513, 1564)

In [30]:
Zxx_0 = Zxx_0.reshape(1000, 513 * 1564)

In [32]:
np.save('Zxx_0_flat', Zxx_0)

In [7]:
Zxx_1 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_1)])

In [8]:
Zxx_2 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_2)])

In [25]:
Zxx_3 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_3)])

In [ ]:
Zxx_4 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_4)])

In [ ]:
Zxx_5 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_5)])

In [ ]:
Zxx_6 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_6)])

In [ ]:
Zxx_7 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_7)])

In [ ]:
Zxx_8 = np.array([Zxx for _, _, Zxx in 
                map(lambda x: signal.stft(x, nperseg = 1024, noverlap = 512), df_small_8)])

In [18]:
Zxx_2.shape

(999, 513, 1564)

In [24]:
Zxx_0_flat = Zxx_0.reshape(1000, 513 * 1564)
Zxx_1_flat = Zxx_1.reshape(1000, 513 * 1564)
Zxx_2_flat = Zxx_0.reshape(1000, 513 * 1564)
Zxx_3_flat = Zxx_3.reshape(1000, 513 * 1564)
Zxx_4_flat = Zxx_4.reshape(1000, 513 * 1564)
Zxx_5_flat = Zxx_5.reshape(1000, 513 * 1564)
Zxx_6_flat = Zxx_6.reshape(1000, 513 * 1564)
Zxx_7_flat = Zxx_7.reshape(1000, 513 * 1564)
Zxx_8_flat = Zxx_8.reshape(1000, 513 * 1564)

NameError: name 'Zxx_3' is not defined

In [14]:
Zxx_0_flat.shape

(1000, 802332)

In [13]:
test = np.append(Zxx_0_flat, Zxx_1_flat, axis = 0)

In [15]:
test.shape

(2000, 802332)

In [11]:
df_small_8.shape

(712, 800000)

In [ ]:
del df_train, df_recast, test

In [20]:
Zxx_0_flat = pd.DataFrame(Zxx_0_flat)

In [ ]:
# Zxx_0_flat.to_csv('stft_flat_train.csv', mode='w', header=False)

In [23]:
#Zxx_0_flat.to_parquet('stft_test.parquet')

In [ ]:
Zxx_1_flat.to_csv('stft_flat_train.csv', mode='a', header=False)

In [ ]:
Zxx_3_flat.to_csv('stft_flat_train.csv', mode='a', header=False)

In [ ]:
Zxx_3_flat.to_csv('stft_flat_train.csv', mode='a', header=False)

In [ ]:
Zxx_4_flat.to_csv('stft_flat_train.csv', mode='a', header=False)

In [ ]:
Zxx_5_flat.to_csv('stft_flat_train.csv', mode='a', header=False)